body {
  background: var(--o-background);
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--o-primary);
  font-family: 'Varela Round', sans-serif;
}
*::selection {
  background: var(--o-primary);
  color: var(--o-background);
}
pre {tab-size: 3;}

*:root {
  --o-secondary: #61c3aa;
  --o-primary: #a8a2fe;
  --o-black: #202229;
  --o-grey: #808080;
  --o-dark-blue: #3b6879;
  --o-error: #ff0076;
  --o-warning: #f9f694;
  --o-success: #94f9c6;
  --o-info: #b5e4ff;
  --o-background: white;
  --o-header: #333333;
}